@media (max-width: 600px) {
    .formulario { 
      grid-template-columns: repeat(1, 1fr); 
    } 
  }
  
  @media (max-width: 600px) {
    .servicios { 
      grid-template-columns: repeat(1, 1fr); 
    } 
  }
  
  @media (max-width: 768px) {
    .footer { 
      grid-template-columns: 1fr; 
    }
  }
  