.footer {
    margin-top: auto;
    background-color: $color-principal;
    display: flex;
    text-align: center;
    padding: 2rem;
    color: $color-secundario;
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center; 
    gap: 10px; 

    .telefono {
        width: 50px;
        height: auto; 
       
    }










}