.repuestos {
    padding-top: 7rem;
    margin: 4rem;
    color: $color-principal;

    .rep-title {
        display: flex;
        justify-content: center;
    }
    .servicio {
        display: flex;
        align-items: center;
    
    }   
  
    

     
      }

.servicios-productos {
   
    padding-top: 5rem;
    .servicio-contenido {
        max-width: 900px;
       background-color: $color-menu;
    }
   }
    

    

   

   






